/*
html{
  height: 100%;
}
  
body{
margin: 0;
padding: 0;
height: 100%;
overflow: hidden;
cursor: none;
}
  
#canvasBackground{
background-color: #2c343f;
width: 100%;
height: 100%;		
}
*/
@font-face {
  font-family: avengeance;
  src: url('./av1.otf');
}
body {
  font-family: avengeance, sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
  overflow: hidden;
  background: url(./bg.gif);
  background-size: 100%;
  background-size: cover;
  height: 100%;
}

#camera-stream {
  position: absolute;
  width: 100%;
  height: 100%;
}

#flip-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  
}
#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 100%;
  height: 350px;
  border-radius: 300px;
  background: #fbf6f661;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
  opacity: 0.6;
}

#canvas {
  display:none;
}

.camera {
  width: 90%;
  display: inline-block;
  text-align: center;
}

.output {
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
  text-align: center;
}

#startbutton {
    width: 120px;
    height: 120px;
    position: absolute;
}

.contentarea {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 95%;
  padding: 5% 0;
}

h2{
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #00d2ff, 0 0 30px #00d2ff, 0 0 40px #00d2ff, 0 0 50px #00d2ff, 0 0 60px #00d2ff, 0 0 70px #00d2ff;
  letter-spacing: 6px;
  font-size: 15px;
}

@keyframes noise-anim {
  0% {
    clip: rect(67px, 9999px, 5px, 0);
  }
  5% {
    clip: rect(29px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(66px, 9999px, 96px, 0);
  }
  15% {
    clip: rect(60px, 9999px, 77px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 43px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 66px, 0);
  }
  30% {
    clip: rect(90px, 9999px, 74px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 98px, 0);
  }
  40% {
    clip: rect(9px, 9999px, 34px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(2px, 9999px, 40px, 0);
  }
  55% {
    clip: rect(100px, 9999px, 46px, 0);
  }
  60% {
    clip: rect(42px, 9999px, 91px, 0);
  }
  65% {
    clip: rect(41px, 9999px, 61px, 0);
  }
  70% {
    clip: rect(87px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(85px, 9999px, 96px, 0);
  }
  80% {
    clip: rect(73px, 9999px, 86px, 0);
  }
  85% {
    clip: rect(86px, 9999px, 94px, 0);
  }
  90% {
    clip: rect(53px, 9999px, 9px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 29px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 22px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(87px, 9999px, 3px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 27px, 0);
  }
  10% {
    clip: rect(83px, 9999px, 90px, 0);
  }
  15% {
    clip: rect(87px, 9999px, 31px, 0);
  }
  20% {
    clip: rect(36px, 9999px, 45px, 0);
  }
  25% {
    clip: rect(84px, 9999px, 74px, 0);
  }
  30% {
    clip: rect(9px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(62px, 9999px, 49px, 0);
  }
  40% {
    clip: rect(42px, 9999px, 78px, 0);
  }
  45% {
    clip: rect(38px, 9999px, 89px, 0);
  }
  50% {
    clip: rect(7px, 9999px, 12px, 0);
  }
  55% {
    clip: rect(38px, 9999px, 2px, 0);
  }
  60% {
    clip: rect(65px, 9999px, 17px, 0);
  }
  65% {
    clip: rect(95px, 9999px, 58px, 0);
  }
  70% {
    clip: rect(43px, 9999px, 95px, 0);
  }
  75% {
    clip: rect(15px, 9999px, 66px, 0);
  }
  80% {
    clip: rect(87px, 9999px, 99px, 0);
  }
  85% {
    clip: rect(10px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(63px, 9999px, 11px, 0);
  }
  95% {
    clip: rect(86px, 9999px, 72px, 0);
  }
  100% {
    clip: rect(64px, 9999px, 84px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

  
