/*
html{
  height: 100%;
}
  
body{
margin: 0;
padding: 0;
height: 100%;
overflow: hidden;
cursor: none;
}
  
#canvasBackground{
background-color: #2c343f;
width: 100%;
height: 100%;		
}
*/
@font-face {
  font-family: avengeance;
  src: url('../fonts/av1.otf');
}
body {
  font-family: avengeance, sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
  overflow: hidden;
  overflow-y: scroll;
  background: url('../bg1.gif');
  background-size: 100%;
  background-size: cover;
  height: 100%;
}

#camera-stream {
  position: absolute;
  width: 100%;
  height: 100%;
}

#flip-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  
}
#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 100%;
  height: 350px;
  border-radius: 300px;
  background: #fbf6f661;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
  opacity: 0.6;
}

#canvas {
  display:none;
}

.camera {
  width: 90%;
  display: inline-block;
  text-align: center;
}

.output {
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
  text-align: center;
}

#startbutton {
    width: 120px;
    height: 120px;
    position: absolute;
}

.contentarea {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 95%;
  padding: 5% 0;
}

h2{
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #00d2ff, 0 0 30px #00d2ff, 0 0 40px #00d2ff, 0 0 50px #00d2ff, 0 0 60px #00d2ff, 0 0 70px #00d2ff;
  letter-spacing: 6px;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

  
